.services {

  background-image: url(../../assets/services-bg-image.jpg);
  display: flex;
  justify-content: center;
  background-attachment: fixed;
}

.services-content {
  margin: 3.75rem 0;
  width: 100%;
  display: flex;
  gap: 1.5rem;
}

.service {
  border: 3px solid green;
  width: 22.4375rem;
  height: 24.8125rem;
  border-radius: 2.4375rem;
  border: 3px solid var(--primary-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.62rem;
  padding: 0 3.13rem;
  cursor: pointer;
  background-color: none;
  transition: 0.3s ease-in-out;
}

.service:hover {
  background-color: var(--secondary-color-black);
  transition: 0.3s ease-in-out;
}

.image-container {
  width: 5.5625rem;
  height: 5.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container img {
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-2 {
  text-align: center;
  font-family: var(--secondary-font);
}

.info p {
  text-align: center;
  margin-top: 1.75rem;
}

@media screen and (max-width: 900px) {
  .image-container {
    width: 4.171875rem;
    height: 4.171875rem;
  }
}

@media screen and (max-width: 768px) {
  .services-content{
    flex-direction: column;
  }

  .service{
    width: 100%;
    height: 12.40625rem;
    gap: 1.31rem;
  padding: 0 1.565rem;

  }

  .image-container {
    width: 2.78125rem;
    height: 2.78125rem;
  }

  .info p {
    margin-top: 0.875rem;
  }
}
