.box {
    background-position: center;
    background-size: cover;
    display: table;
    background-image: url(../../assets/hero-bg-image.jpg);
    position: relative;
    background-attachment: fixed;
}