.about {

  display: flex;
  justify-content: center;
  background-image: url(../../assets/about-bg-image.jpg);
}

.about-content{
  margin: 3.75rem 0;
  max-width: 40.4375rem;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .about-content{
  max-width: 30.328125rem;
    
  }
}
