.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--navigation-height);
  border-bottom: 1px solid var(--tint, rgba(0, 0, 0, 0.75));
}

.nav-content {
  width: 100%;
  height: 1.5625rem;
  max-width: 34.875rem;
  display: flex;
  justify-content: space-between;
}

.link {
  color: var(--primary-color-white);
  font-family: var(--primary-font);
  font-size: 1.0625rem;
  font-weight: 500;
  letter-spacing: 0.01063rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link hr {
  width: 1.5625rem;
  height: 0.25rem;
  transform: scaleX(0);
  margin-left: 0.12rem;
  transition: var(--transition);
  background-color: white;
  border-style: solid;
}

.link:hover hr {
  transform: scaleX(1);
  transition: var(--transition);
}

.menu-to-close-alt-transition {
  width: 2rem;
  height: 2rem;
  display: none;
}

.close-to-menu-alt-transition {
  width: 2rem;
  height: 2rem;
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: block;
    border-bottom: none;
  }

  .nav-content {
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 50vw;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color-black);
    padding: 15rem 0;
    transition: var(--transition);
  }

  .active-menu {
    right: 0%;
    transition: var(--transition);
  }

  .link {
    align-items: center;
    margin-left: 0;
  }

  .link hr {
    width: 4.6875rem;
    background-color: white;
    border: none;
  }

  .link a {
    font-family: var(--secondary-font);
  }

  .menu-to-close-alt-transition {
    display: block;
    position: absolute;
    right: 20%;
    top: 5%;
  }

  .close-to-menu-alt-transition {
    display: block;
    position: absolute;
    right: 10%;
    top: 5%;
  }
}
