.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--navigation-height);
  border-bottom: 1px solid var(--tint, rgba(0, 0, 0, 0.75));
}

.nav-content {
  width: 100%;
  height: 1.5625rem;
  max-width: 34.875rem;
  display: flex;
  justify-content: space-between;
}

.link {
  color: var(--primary-color-white);;
  font-family: var(--primary-font);
  font-size: 1.0625rem;
  font-weight: 500;
  letter-spacing: 0.01063rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link hr {
  width: 1.5625rem;
  height: 0.25rem;
  transform: scaleX(0);
  margin-left: 0.12rem;
  transition: var(--transition);

}

.link:hover hr {
  transform: scaleX(1);
  transition: var(--transition);
  
}