.contact {
  position: relative;
  background-position: center;
  background-size: cover;
  display: table;
  background-image: url(../../assets/contact-bg-image.jpg);
  position: relative;
  display: flex;
  justify-content: center;
}

.contact-container{
  display: flex;
  margin-top: 2.87rem;
  min-height: 36.5rem;
  gap: 1.5rem;
  justify-content: space-between;
}

.hours-of-operation{
  width: 100%;
  border-radius: 0.9375rem;
  border: 3px solid var(--primary-color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  justify-content: center;
  max-width: 34.5rem;
}

.title{
  font-family: var(--secondary-font);
  font-weight: 700;
  text-decoration-line: underline;
}

.hours-container{
  display: flex;
  flex-direction: column;
  gap: 1.87rem;
}

.hour{
font-family: var(--secondary-font);
font-size: 1.75rem;
font-style: normal;
font-weight: 700;
line-height: 1.75rem; 
}

.hour span{
font-weight: 400;
}

.disclaimer{
  text-align: center;
  max-width: 16.1875rem;
}

.operation-info{
  display: flex;
  width: 100%;
  /* border-radius: 0.9375rem;
  border: 3px solid var(--primary-color-white); */
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  max-width: 27rem;
}

.phone,
.social{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.88rem;
}

.phone .cta,
.phone .number,
.social .cta{
  font-family: var(--secondary-font);
  text-align: left;
font-weight: 700;
}


.phone .number{
  font-weight: 400;

}

.address{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.address .cta{
  font-family: var(--secondary-font);
  margin-bottom: 1.88rem;
font-weight: 700;

}

.business-name,
.street{
  margin-bottom: 0.94rem;
}

.business-name,
.street,
.zipcode{
  text-align: left;
  font-family: var(--secondary-font);
  font-weight: 400;
}

.icons{
  display: flex;
  gap: 0.56rem;
  align-items: center;
}