.header {
  position: relative;
  height: calc(100% - var(--navigation-height));
  display: flex;
  align-items: center;
}

.logo {
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-animation {
  max-width: 70%;
  max-height: 70%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateLogo 40s linear infinite;
}

@keyframes rotateLogo {
  from {
    transform: translate(-50%, -50%) rotate(0deg); 
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg); 
  }
}

.button-container{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroller-container{
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.page-scroller{
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}




