.gallery{
  position: relative;
  background-position: center;
  background-size: cover;
  display: table;
  background-image: url(../../assets/gallery-bg-image.jpg);
  position: relative;
  display: flex;
  justify-content: center;
  background-attachment: fixed;
}

.gallery-content{
  margin: 3.75rem 0;
  max-width: 40.4375rem;
  width: 100%;
}